:root {
  --main: #081234;
  --sub: #467824;
  --size: 8px;
}

* {
  box-sizing: border-box
}

.no-space {
  margin: 0;
  padding: 0;
}

.full {
  width: 100%;
}

.main {
  background: var(--main);
}

.sub {
  background: var(--sub);
}

.center {
  text-align: center;
}

.large {
  --size: 16px;
}

.pad {
  padding: var(--size);
}

.white {
  color: #fff;
}

h3 {
  font-family: serif;
  text-transform: capitalize;
}

ol li {
  padding: var(--size);
  color: #fff;
  width: 100%;
  margin-bottom: 5px;
  line-height: 1.5;
}

.flex {
  display: flex;
  justify-content: space-evenly;
}

#input,
button,
.add {
  outline: 0;
  border-radius: 8px;
  border: 0;
}

li button {
  padding: 5px;
  float: right;
  background: #fff;
}

#input {
  width: 80%;
}

.add {
  width: 15%;
}

#error {
  display: block;
  color: pink;
}
